* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
    transition: 0.3s;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

header {
    background: pink;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
    object-fit: cover;
    margin-bottom: 15px;
}

header h1 {
    margin-bottom: 10px;
}


.card {
    background: white;
    padding: 25px;
    margin: 20px 0;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.card h2 {
    margin-bottom: 15px;
    color: #600432;
}

.item {
    margin-bottom: 15px;
}

.skill {
    margin-bottom: 15px;
}

.progress {
    background: #ddd;
    height: 12px;
    border-radius: 20px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    width: 0;
    background: #fc9fe8;
    transition: width 1.5s ease;
}

footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
    margin-top: 30px;
}

